body {
  position: relative;
  background-color: rgb(189, 184, 184);
}

.search-form {
 padding-left: auto;
 padding-right: auto;
}

.input {   
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border: 3px solid palevioletred;
  border-radius: 4px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.image {
  margin: 0;
  margin-right: 10px;
  width: 300px;
  height: 200px;
  border: 2px solid gray;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 300px;
  border: 1px dashed grey;
}

.stats-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  
}

.material-icons {
  color: palevioletred;
}

.button {
  width: 80px;
  height: 32px;
  border: 1px solid dimgray;
  border-radius: 2px; 
  color: rgb(56, 54, 54);
background-color: salmon;
}  

.button.is-hidden {
  display: none;
}

.button-up {
text-decoration: none;

position: fixed;
bottom: 10px;
right: 10px;

padding: 5px 5px;
border: 1px solid dimgray;
border-radius: 2px;
color: rgb(56, 54, 54);
background-color: salmon;
}

.button-up.is-hidden {
  display: none;
}